/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; position: relative;display: block;margin: 0; padding: 0; width: 100vw;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fullcontainer{
    background-color: #143D53;
}
.bgcontainer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    img{
        display: block;
        width: 100vw;
        height: 100vh;        
    }
}
.stage{
    width: 320px;
    margin: 0 auto;
    padding: 50px 20px;    
    box-sizing: border-box; 
    z-index: 2;
    position: relative;
    @media (min-width: 768px){
        width: 768px;        
    }
    @media (min-width: 1024px){
        width: 1024px;
    }
    @media (min-width: 1660px){
        width: 1660px;
    }
}
.stage_rdy{
    font: normal normal 800 18px/33px Cairo;
    position: absolute;
    left: 0;
    top: 24px;
    color: #FFFFFF;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 32px;
        width: 2px;
        height: 609px;
        background-color: #ffffff;
    }
    &:after{
        content: "";
        position: absolute;
        left: 38px;
        top: 17px;
        width: 75px;
        height: 1px;
        background-color: #ffffff;
    }
}
p{
    font: normal normal 300 20px/37px Cairo;
    color: #ffffff;
}
a{
    color: #DBE4E0;
}
h2.section_header{
    font: normal normal 800 37px/69px Cairo;
    color: #ffffff;
    margin-top: 45px;
}

h3.section_title{
    font: normal normal 800 21px/39px Cairo;
    color: #ffffff;
    margin-top: 35px;
}
.home_personal_right .mat-list-base .mat-list-item .mat-list-item-content{
    align-items: flex-start;
    
}
.card{
    text-decoration: none;
}
.card .mat-card{
    background: rgb(0 0 0 / 38%) 0% 0% no-repeat padding-box;
    border-radius: 25px;    
    
}
.mat-card-content p{
    font: normal normal 200 16px/21px Cairo;
}
.mat-card-title{
    color: #ffffff;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: baseline;

    @media (min-width: 1024px){        
        -webkit-box-pack: start;
        justify-content: start;
    }
    
}
.card-item{
    width: 320px;
    @media (min-width: 768px){
        width: 500px;
        
    }
    @media (min-width: 1024px){
        flex: 1 0 45%;
        margin: 20px 15px;
        width: calc(50% - 30px);
        
    }
    @media (min-width: 1440px){
        flex: 1 0 30%;
        margin: 20px 15px;
        width: calc(30% - 30px);
        max-width: calc(30% - 30px);
        
    }
    
}