<div class="home_personal_left">    
    <img class="home_profile_pic" src="{{profilePic}}" alt="{{name}}" srcset="">
</div>
<div class="home_personal_right">
    <mat-list *ngFor="let contactItem of contactItems">
        <mat-list-item>
            <p>{{contactItem.title}}:
                <a *ngIf="contactItem.link!==''" href="{{contactItem.link}}">
                    <span>{{contactItem.value}}</span>
                </a>
                <span *ngIf="contactItem.link===''">{{contactItem.value}}</span>
            </p>
        </mat-list-item>
    </mat-list>
</div>